{{ define "main" }}
    <div class="titulo-youtube">
        <h2 class="titulo-video">Nuestro Canal de Youtube</h2>
        <img src="/images/img/youtube.png" alt="youtube" style="width: 60px; height: auto;">
    </div>
    
    <div class="video-grid">
        {{ range .Site.Data.publicaciones.videos }}  <!-- Accedemos a la lista en TOML -->
            <div class="video-item">
              <a href="https://www.youtube.com/watch?v={{ .id }}" target="_blank">
                  <img src="https://img.youtube.com/vi/{{ .id }}/hqdefault.jpg" alt="{{ .title }}">
              </a>
                <p>{{ .title }}</p>
            </div>
        {{ end }}
    </div>
{{ end }}
