{{ define "main" }}
  <main>
    {{ partial "collage.html" . }}
    <section>
      <h2>{{ .Site.Params.Products_title }}</h2>
      {{ $currentMarca := .Title }} 
      {{ partial "category-selector" . }}
      <div class="container">
        <div class="products flex-grid">
            {{ range .Site.Data.productos.productos  }}
            {{ partial "product.html" . }} <!-- Pasa el producto completo al partial 'product.html' -->
          {{ end }}
        </div>
      </div>
      {{ partial "snipcart.html" . }}
    </section>
    <section>
      <h2>{{ .Site.Params.Reviews_title }}</h2>
      <div class="container">
        <div class="reviews flex-grid">
          {{ range .Site.Data.reviews }}
            {{ partial "review.html" . }}
          {{ end }}
        </div>
      </div>
    </section>
  </main>
{{ end }}

