<header>
  <div class="overlay"></div> 
  <div class="container">
    <a class="logo-animado" href="/multiopciones/"><img src="{{ `images/logo/logo-animado.webp` | relURL }}" /></a>
<label for="menu-toggle" class="menu-bar">
  Menu
  <img src="/multiopciones/images/logo/logo.png" alt="Logo" class="logo-svg">
</label>

<input type="checkbox" id="menu-toggle" style="display: none;" />
      <ul class="menu-menu">
        <li><a href="/multiopciones/">Home</a></li>
        <li><a href="{{ "proyectos" | relURL }}">Fragancias</a></li>
        <li><a href="{{ "libros" | relURL }}">Libros Digitales</a></li>
        <li><a href="{{ "videos" | relURL }}">Videos</a></li>
      </ul>
    <div class="right-stuff">
      <div class="header__cart">
        <a href="#" class="snipcart-checkout">
          <div class="snipcart-summary">
            <img src="/multiopciones/images/img/tienda_bag.png" alt="Logo" class="logo-car">&nbsp;<span
              class="snipcart-items-count"
            ></span>
            item(s)
          </div>
        </a>
      </div>
      <div class="instagram">
        <img src="/multiopciones/images/img/instagram.png" alt="Logo" class="logo-instagram">&nbsp;<a
          href="https://instagram.com/{{ .Site.Params.Instagram }}"
          >Mi Instagram</a
        >
      </div>
    </div>
  </div>
</header>
