<header>
  <div class="overlay"></div> 
  <div class="container">
    <a class="logo-animado" href="/multiopciones/">
<video autoplay loop muted playsinline class="logo-video"
  disablepictureinpicture
  disableremoteplayback
  controlslist="nodownload nofullscreen noremoteplayback"
  tabindex="-1"
  aria-hidden="true"
>
  <source src="{{ `images/logo/logo-animado.webm` | relURL }}" type="video/webm">
  Tu navegador no soporta video en formato WebM.
</video>
    </a>

    <label for="menu-toggle" class="menu-bar">
      Menú
    </label>

<input type="checkbox" id="menu-toggle" style="display: none;" />
      <ul class="menu-menu">
        <li><a href="{{ "pedidos" | relURL }}">Pedidos</a></li>
        <li><a href="{{ "categorias" | relURL }}">Categorías</a></li>
        <li><a href="{{ "libros" | relURL }}">Folletos OnLine</a></li>
        <li><a href="{{ "publicaciones" | relURL }}">Publicaciones</a></li>
        <li>
            <div class="whatsapp">
          <img src="/multiopciones/images/img/whatsapp.png" alt="Logo" class="logo-whatsapp">&nbsp;<a
          href="https://wa.me/5493417124621?text=Hola%2C%20quiero%20más%20información" target="_blank">
          WhatsApp</a>
          </div>
        </li>
      </ul>
  </div>
</header>
