<div class="product grid-item aos-item" data-aos="fade-up">
  <img class="product__image" src="{{ .image }}" alt="" />
  <div class="card-content">
    <div class="product__titlebar">
      <h3 class="product__name">{{ .name }}</h3>
      <div class="product__price"><strong>${{ .price }}</strong></div>
    </div>
    <p class="product__description">{{ .description }}</p>
    <p class="product__marca">{{ .marca }}</p>
    <p class="categories">{{ .categories }}</p>
    <div class="product__button-container">
      <a
        class="buy-button"
        href="javascript:void(0);"
        onclick="contactarProducto('{{ .name }}', '{{.marca}}')"
      >
        Quiero este Producto
      </a>
    </div>
  </div>
</div>

