<style>
.elegirnos {
  grid-column: 1 / -1;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  max-width: none !important;
  max-height: none !important;
  background-image: url(/multiopciones/images/logo/fondo-elegirnos2.png);
  background-color: rgba(255, 255, 255, 0.7); /* Blanco semi-transparente */
}
.elegirnos img {
  width: 20%;
}
     .elegirnos-texto {
      font-family: 'Dancing Script';
      font-size: 1.25rem;
    }

    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
    /* Media query para pantallas más pequeñas (móviles) */
  @media (max-width: 768px) {
    .elegirnos {
      flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
      align-items: flex-start;
      padding: 15px;
    }

    .elegirnos img {
      width: 40%; /* La imagen ocupa el 50% del ancho en móviles */
      margin-bottom: 10px; /* Espacio entre la imagen y el texto */
    }

    .elegirnos-texto {
      font-size: 1.1rem; /* Ajustar el tamaño del texto en móviles */
      text-align: center;
    }

    h3 {
      font-size: 1rem; /* Reducir el tamaño del título */
      text-align: center;
    }
  }

  /* Media query para pantallas muy pequeñas (como teléfonos en orientación vertical) */
  @media (max-width: 480px) {
    .elegirnos {
      padding: 10px;
    }
</style>

<figure class="elegirnos">
  <img src="{{ .image }}" alt="review image" />
  <figcaption>
    <blockquote>
      <p class="elegirnos-texto">{{ .message }}</p>
    </blockquote>
    <h3>{{ .writer }}</h3>
  </figcaption>
</figure>

